{% spaceless %}
<html>
<head>
    <title>Picoblog</title>
</head>
<body>

    {% if user.is_authenticated %}
        <a href="{% url logout %}?next=/">Logout</a>
        <div>
            <form method="post" action="{% url picoblog:post_message %}"> {% csrf_token %}
                {{ form }}
                <input type="submit" />
            </form>
        </div>

        <div>
            <form method="post" action="{% url picoblog:follow %}">{% csrf_token %}
                <label for="id_followed_tweeters">Follow:</label>
                {{ follow_form.followed_tweeters }}
                <input type="submit" />
            </form>
        </div>
    {% else %}
        <a href="{% url login %}">Login</a>
    {% endif %}

    <div style="float:right;">
        {% for tweeter in user.get_profile.followed_tweeters.all %}
            {{ tweeter }}
        {% endfor %}
    </div>
    <div style="clear:both;"></div>

    <div style="float:left;">
        {% for message in timeline %}
            {% if forloop.first %}
                <ul>
            {% endif %}

                <li>
                    <div><strong>{{ message.user.username }}</strong></div>
                    <div>{{ message }}</div>
                </li>

            {% if forloop.last %}
                </ul>
            {% endif %}
        {% empty %}
            <div>No Messages to display.</div>
        {% endfor %}
    </div>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#id_message').focus();
        });
    </script>
</body>
</html>
{% endspaceless %}